body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    font-size: 14px;
}

#header {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space between children */
    align-items: center; /* Centers children vertically */
    padding: 0 1%; /* Padding on the left and right */
}

#title {
    margin: 0; /* Resets any default margin */
    padding: 0; /* Resets any default padding */
    flex-grow: 0; /* Do not allow it to grow */
    flex-shrink: 0; /* Do not allow it to shrink */
}

#search {
    flex-grow: 1; /* Allows it to grow to fill available space */
    display: flex; /* Enables flexbox layout within the search container */
    justify-content: center; /* Centers the search form horizontally */
}

input[type=text] {
    width: auto; /* Removes any full-width default */
    padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: auto; /* Removes any full-width default */
    background-color: #007aff;
    color: white;
    padding: 6px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: #005ecb;
}

#logout-box {
    margin: 0; /* Resets any default margin */
    padding: 0; /* Resets any default padding */
    flex-grow: 0; /* Do not allow it to grow */
    flex-shrink: 0; /* Do not allow it to shrink */
    display: flex; /* Enables flexbox layout within the logout box */
    justify-content: flex-end; /* Aligns the sign-out button to the right */
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

#title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

input[type=text],
input[type=date],
input[type=time],
input[type=email],
input[type=password],
select {
    width: 100%;
    padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #007aff;
    color: white;
    padding: 6px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #005ecb;
}

button {
    background-color: #007aff;
    color: white;
    padding: 8px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}


button:hover {
    background-color: #005ecb;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

th, td {
    text-align: left;
}

th {
    background-color: #f8f8f7;
    color: #000;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#login-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    margin: auto;
}

#sign-out {
    background-color: #FF3B30;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}